@page "/userpage"
@inject  ICurrentUserService userService

@if (!dataFetched)
{
	<Loader />
}
else
{
	if (currentUser == null)
	{
		<EmptyList />
	}
	else
	{
			<div class="table-responsive">
				<table class="table table-striped text-center table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Email</th>
							<th>Password</th>
							<th>Role</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>@currentUser?.Id</td>
								<td>@currentUser.FirstName</td>
								<td>@currentUser.LastName</td>
								<td>@currentUser.Email</td>
								<td>@currentUser.Password</td>
								<td>@currentUser.RoleId</td>
							</tr>

					</tbody>
				</table>
			</div>
		
	}
}


@code {

	UserDT currentUser;
	bool dataFetched = true;
	protected override async Task OnInitializedAsync()
	{
		currentUser = await userService.GetCurrentUserAsync();
	}
}
