@page "/competition/set/{Id:int}"

@using Blazorise.DataGrid

@inject ICompetitionService CompetitionService
@inject ITeamService TeamService
@inject IExerciseService ExerciseService


<div class="row mb-4">

	<div class="col-1 text-start">
		<a class="btn btn-primary"
		   href="/competitions/"
		   role="button">
			<span class="oi oi-arrow-left" aria-hidden="true"></span>
		</a>
	</div>

	<div class="col-8">
		<h3>Adding teams and tasks for competition #@Id:</h3>
	</div>

</div>

<div class="row">
	<div class="col-8 offset-1">

		<div class="accordion" id="accordionExample">

			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Adding teams
					</button>
				</h2>

				<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						@if (!_teamsFetched)
						{
							<Loader />
						}
						else
						{
							if (fetchedTeams.Count == 0)
							{
								<EmptyList />
							}
							else
							{
								<DataGrid TItem="TeamDT"
								  Data="@fetchedTeams"
								  @bind-SelectedRow="@selectedTeam"
								  @bind-SelectedRows="@selectedTeams"
								  PageSize="10"
								  Responsive
								  SelectionMode="DataGridSelectionMode.Multiple"
								  ShowPager
								  CommandMode="DataGridCommandMode.ButtonRow">

									@*<DataGridMultiSelectColumn Width="30px"></DataGridMultiSelectColumn>*@

									<DataGridColumns>
@*										<DataGridColumn Field="@nameof(TeamDT.Id)" Caption="#" Sortable="false" />
*@										<DataGridColumn Field="@nameof(TeamDT.Name)" Caption="Name" />
										<DataGridColumn Field="@nameof(TeamDT.SumPoints)" Caption="Points" />
									</DataGridColumns>

									<EmptyTemplate>
										<div class="box">
											No teams were found!
										</div>
									</EmptyTemplate>

									<ButtonRowTemplate>
										<Button Color="Color.Success" Clicked="context.NewCommand.Clicked">New</Button>
										<Button Color="Color.Primary" Clicked="context.NewCommand.Clicked" Disabled="@(selectedTeams != null && selectedTeams.Count == 0 ? true : false)">Submit @(selectedTeams != null && selectedTeams.Count > 0 ? selectedTeams.Count : "") @(selectedTeams != null && selectedTeams.Count == 1 ? "team" : "teams")</Button>
									</ButtonRowTemplate>

								</DataGrid>
							}
						}
					</div>
				</div>

			</div>
			<div class="accordion-item">

				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Adding Tasks
					</button>
				</h2>

				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						@if (!_exercisesFetched)
						{
							<Loader />
						}
						else
						{
							if (fetchedExercises.Count == 0)
							{
								<EmptyList />
							}
							else
							{
								<DataGrid TItem="ExerciseDT"
								  Data="@fetchedExercises"
								  @bind-SelectedRow="@selectedExercise"
								  @bind-SelectedRows="@selectedExercises"
								  PageSize="10"
								  Responsive
								  SelectionMode="DataGridSelectionMode.Multiple"
								  ShowPager
								  CommandMode="DataGridCommandMode.ButtonRow">

									<DataGridColumns>
										<DataGridColumn Field="@nameof(ExerciseDT.Name)" Caption="Name" />
										<DataGridColumn Field="@nameof(ExerciseDT.CategoryId)" Caption="Category" />
										<DataGridColumn Field="@nameof(ExerciseDT.LangId)" Caption="Lang" />
										<DataGridColumn Field="@nameof(ExerciseDT.PlatformId)" Caption="Platform" />
										<DataGridColumn Field="@nameof(ExerciseDT.Points)" Caption="Points" />
										<DataGridColumn Field="@nameof(ExerciseDT.Fine)" Caption="Fine" />
										<DataGridColumn Field="@nameof(ExerciseDT.IfHasBonus)" Caption="Bonus" />

									</DataGridColumns>

									<EmptyTemplate>
										<div class="box">
											No teams were found!
										</div>
									</EmptyTemplate>

									<ButtonRowTemplate>
										<Button Color="Color.Success" Clicked="context.NewCommand.Clicked">New</Button>
										<Button Color="Color.Primary" Clicked="context.NewCommand.Clicked" Disabled="@(selectedExercises != null && selectedExercises.Count == 0 ? true : false)">Submit @(selectedExercises != null && selectedExercises.Count > 0 ? selectedExercises.Count : "") @(selectedExercises != null && selectedExercises.Count == 1 ? "task" : "tasks")</Button>
										</ButtonRowTemplate>

									</DataGrid>
							}
						}
					</div>
				</div>

			</div>
			<div class="accordion-item">

				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Accordion Item #3
					</button>
				</h2>

				<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
					</div>
				</div>

			</div>
		</div>


	</div>
</div>

@code {

	[Parameter]
	public int Id { get; set; }

	CompetitionDT currentComp = new();

	private TeamDT selectedTeam;
	List<TeamDT> fetchedTeams = new();
	List<TeamDT> selectedTeams = new();

	private ExerciseDT selectedExercise;
	List<ExerciseDT> fetchedExercises = new();
	List<ExerciseDT> selectedExercises = new();

	bool _teamsFetched;
	bool _exercisesFetched;


	protected override async Task OnInitializedAsync()
	{
		_teamsFetched = false;
		_exercisesFetched = false;
		await FetchTeamsAsync();
		await FetchExercisesAsync();
		currentComp = await CompetitionService.GetCompetitionByIdAsync(Id);
	}

	private async Task FetchTeamsAsync()
	{
		_teamsFetched = false;
		Console.WriteLine("begin");
		try
		{
			fetchedTeams = await TeamService.GetAllTeamsAsync();
			_teamsFetched = true;
		}
		catch (DBNullResponseException)
		{
			_teamsFetched = false;
		}

		foreach (var t in fetchedTeams)
		{
			Console.WriteLine(t.Id + " - " + t.Name);
		};
		Console.WriteLine("end");
		Console.WriteLine(_teamsFetched);
	}

	private async Task FetchExercisesAsync()
	{
		_exercisesFetched = false;
		Console.WriteLine("begin");
		try
		{
			fetchedExercises = await ExerciseService.GetAllExercisesAsync();
			_exercisesFetched = true;
		}
		catch (DBNullResponseException)
		{
			_exercisesFetched = false;
		}
	}
}
