<div class="col">

	<div class="card text-start">

		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs" id="myTab">

				<li class="nav-item">
					<a href="" class="nav-link @ColorByState disabled" data-bs-toggle="tab">
						<span class="oi oi-bookmark" aria-hidden="true"></span>
					</a>
				</li>

				<li class="nav-item">
					<a href="#event(@Competition.Id)" class="nav-link active" data-bs-toggle="tab">
						<span class="oi oi-aperture" aria-hidden="true"></span> About
					</a>
				</li>

				<li class="nav-item">
					<a href="#teams(@Competition.Id)" class="nav-link" data-bs-toggle="tab">
						<span class="oi oi-people" aria-hidden="true"></span> Teams
					</a>
				</li>

				<li class="nav-item">
					<a href="#info(@Competition.Id)" class="nav-link" data-bs-toggle="tab">
						<span class="oi oi-wrench" aria-hidden="true"></span> Info
					</a>
				</li>
			</ul>
		</div>

		<div class="card-body">
			<div class="tab-content">

				<div class="tab-pane fade show active" id="event(@Competition.Id)">

					<div class="row">

						<div class="col-4">
							<img src="./images/HackathonLogoDef.jpg" width="200" />
						</div>

						<div class="col-8">

							<div class="row">
								<div class="col m-0 p-0">
									<h4 class="card-title font-large"><u>@Competition.Name</u></h4>
								</div>
							</div>

							<div class="row">
								<div class="col-6 m-0 p-0">
									<p>
										Date: @Competition.StartDateTime.ToLongDateString()
										<br />
										Start at: @Competition.StartDateTime.ToString("t")
										<br />
										End at: @Competition.EndDateTime.ToString("t")
										<br />

									</p>
								</div>

								<div class="col-6 m-0 p-0">
									Duration: @Competition.Duration.Hours hours @if (Competition.Duration.Minutes != 0)
									{
										@Competition.Duration.Minutes <span>minutes</span>
									}

									<br />
									Hashtag: <a href="https://twitter.com/search?q=@Competition.Hashtag&src=trend_click&vertical=trends" target="_blank">#@Competition.Hashtag</a>
									<br />
									State: @Competition.State
									<br />
									Color: @ColorByState
								</div>

							</div>
						</div>
					</div>


				</div>

				<div class="tab-pane fade" id="teams(@Competition.Id)">
					<h5 class="card-title">Bonus task</h5>
					<p class="card-text">Here is some example text to make up the tab's content. Replace it with your own text anytime.</p>
				</div>

				<div class="tab-pane fade" id="info(@Competition.Id)">

					<div class="row">
						<h5 class="card-title">Service info</h5>
					</div>

					<div class="row card-text">

						<div class="col-6">
							ID: @Competition.Id.
							<br />
							Status: @Competition.Status
						</div>

						<div class="col-6">
							Created at @Competition.CreateDate.ToString("R")
							<br />
							Created by @Competition.CreateUserId
							<br />
							Updated at @Competition.UpdateDate.ToString("R")
							<br />
							Updated by @Competition.UpdateUserId
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="card-footer">
			<div class="row">

				<div class="col-5 mb-1 align-self-end">
					<small class="text-muted">Last updated @_updated.Days day(s) @_updated.Hours hours @_updated.Minutes mins ago</small>
				</div>

				<div class="col-1 mb-0 text-end">
					<button class="btn btn-outline-secondary" @onclick="Expand">
						<span class="oi oi-chevron-bottom"></span>
					</button>
				</div>

				<div class="col-6 text-end mb-1">

					<button class="btn btn-success" @onclick="Start">
						<span class="oi oi-media-play"></span>
						<span>&nbsp;Start</span>
					</button>

					<button class="btn btn-secondary" @onclick="Duplicate">
						<span class="oi oi-copywriting"></span>
						<span>&nbsp;Duplicate</span>
					</button>

					<button class="btn btn-danger" @onclick="Delete">
						<span class="oi oi-x"></span>
						<span>&nbsp;Delete</span>
					</button>

				</div>

			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public CompetitionDT Competition { get; set; }

	private TimeSpan _updated;

	private string ColorByState = "text-bg-primary";

	protected override async void OnInitialized()
	{
		ColorByState = "text-bg-primary";

		ChangeCardColorByState();
	}

	protected override void OnParametersSet()
	{
		LastUpdated();
	}


	private void ChangeCardColorByState()
	{
		switch (Competition.StateId)
		{
			case CompetitionStates.InProgress:
			ColorByState = "text-bg-success";
			break;

			case CompetitionStates.Canceled:
			ColorByState = "text-bg-warning";
			break;

			case CompetitionStates.Ended:
			ColorByState = "text-bg-light";
			break;

			case CompetitionStates.Planned:
			ColorByState = "text-bg-primary";
			break;

			case CompetitionStates.Dropped:
			ColorByState = "text-bg-dark";
			break;
		}
	}

	private void LastUpdated()
	{
		_updated = DateTime.Now - Competition.UpdateDate;
	}

	private void Duplicate()
	{
		ChangeCardColorByState();

		Console.WriteLine("Duplicated");
	}

	private void Start()
	{
		Console.WriteLine("Started");
	}

	private void Delete()
	{
		Console.WriteLine("Deleted");
	}

	private void Expand()
	{
		Console.WriteLine("Expanded");
	}

}
