<div class="table-responsive">
	<table class="table table-striped text-center table-hover">
		<thead class="table-light">
			<tr>
				<th>ID</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
				<th>Password</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@User?.Id</td>
				<td>@User.FirstName</td>
				<td>@User.LastName</td>
				<td>@User.Email</td>
				<td>@User.Password</td>
				<td>@User.RoleId</td>
			</tr>
		</tbody>
	</table>
</div>

@code {

	[Parameter]
	public UserDT User { get; set; }

	//protected override async Task OnInitializedAsync()
	//{
	//}
}
